.section-heading{
    h5{
        font-size: 14px;
        color: #878787;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 20px;
    }
    h2{
        font-size: 40px;
        margin-bottom: 12px;
        text-transform: capitalize;
    }
    p{
        padding: 0 15px;
    }
}